MDK-ARM/*
!MDK-ARM/DC_Motor.uvoptx
!MDK-ARM/DC_Motor.uvprojx
!MDK-ARM/startup_stm32f103xb.s

# Object files
#*.o
#*.ko
#*.obj
#*.elf

# Libraries
#*.lib
#*.a
#*.la
#*.lo

# Shared objects (inc. Windows DLLs)
#*.dll
#*.so
#*.so.*
#*.dylib

# Executables
#*.exe
#*.out
#*.app
#*.i*86
#*.x86_64
#*.hex

# Misc
#*.map
#*.m
#*.png

# Include makefiles
#!Makefile
#*~
